# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build directories
node_modules
dist
dist-ssr
*.local

# .env file (make sure it's not tracked by Git)
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other IDE-specific files
.vscode/*
!.vscode/extensions.json
.idea

# OS-specific files
.DS_Store

